@import 'reactflow/dist/style.css';

react-flow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .react-flow {

    &__edge-path:hover {
      stroke-width: 4;
    }

    &__edgelabel {
      &-renderer {
        &__content {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          // everything inside EdgeLabelRenderer has no pointer events by default
          // if you have an interactive element, set pointer-events: all
          pointer-events: all;
          //border: 1px solid red;
          width: 50px;
          height: 50px;
          font-size: 12px;

          &--button {
            width: 25px;
            height: 25px;
            background: #eee;
            border: 1px solid #fff;
            cursor: pointer;
            border-radius: 50%;
            font-size: 12px;
            line-height: 1;

            &:hover {
              box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
            }
          }
        }
      }
    }

    &__node {
      display: flex;
      border: none;
      justify-content: center;
      align-items: center;
      font-size: 0.875rem;

      &-default {
        width: 9.5rem;
        height: 5.25rem;
        background-color: #ddf3fd;
        border-radius: 2px;
      }

      &-decision {
        &.content {
          width: 6.25rem;
          height: 6.25rem;
        }

        &.shape {
          width: 6.25rem;
          height: 6.25rem;
          transform: translate(-50%, -50%) rotate(45deg);
          position: absolute;
          left: 50%;
          top: 50%;
          border: none;
          border-radius: 2px;
          background: #f1b46f;
        }

        &.text {
          z-index: 10;
          position: relative;
          font-size: 0.875rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 100%;


          &__label {
            position: absolute;

            &-right {
              top: 38%;
              transform: translate(0, -50%);
              right: -40px;
            }

            &-bottom {
              top: auto;
              left: 65%;
              transform: translate(-50%, 0);
              bottom: -42px;
            }
          }
        }

        &.handle {
          z-index: 1;

          &-top {
            top: -25px;
          }

          &-bottom {
            bottom: -25px;
          }

          &-right {
            right: -25px;
          }
        }
      }

      &-end,
      &-start {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 31rem;
        width: 5.5rem;
        height: 4.5rem;
        padding: 10px;

        &.selectable {
          &:hover {
            box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
          }
          &.selected {
            box-shadow: 0 0 0 0.5px #1a192b;
          }
          &:focus {
            outline: none;
          }
        }
      }

      &-end {
        background: #e14642;
        color: #fff;
      }

      &-start {
        background: #57bf8d;
      }
    }

    &__handle {
      width: 0.5rem;
      height: 0.5rem;
      border: 2px solid #bdbdbd;
      background: #fff;
    }


  }

  .flow-content {
    width: 100%;
    height: 800px;
  }

  aside .description {
    margin-bottom: 10px;
  }

  .dndnode {
    height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
  }

  .dndnode.input {
    border-color: #0041d0;
  }

  .dndnode.output {
    border-color: #ff0072;
  }
}
